body,html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:auto;
    background: rgb(241, 241, 241);
    min-width:315px;
}
body
{
        background:url(/Images/m3-front.jpg) no-repeat center;
        background-size:1920px;
}
/*фикс в связи с горизонтальным скролом*/
.row
{
    margin-right:0px;
}
a{
    color: rgb(82, 155, 212);
}
.menu-item
{
    color:white;
    text-align:center;
    line-height:1.2em;
    cursor:pointer;
    margin-top:4px;
    margin-bottom:9px;
    font-family:'Glyphicons Halflings';
    padding-right: 7px;
    padding-left: 12px;
}
.menu-item-this:before
{
    content:"\e072";
    padding-right:2px;
}
.menu-item:hover {
    color:lightgray;
}
.menu-item-line
{
    border-right:1px solid white;
}
.fallDownMenu
{
    margin-left: 50%;
    left: -65px;
    margin-top: 10px;
}
.look-up {
    width:7px;
    height:7px;
    margin-left: 22px;
    margin-top: -9px;
    background:white;
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    transform:rotate(45deg);
    -moz-transform: rotate(45deg);  /* Firefox */
    -o-transform: rotate(45deg);  /* Opera */
    -webkit-transform: rotate(45deg);  /* Safari y Chrome */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}
.panel-parent
{
    padding-left: 0px;
    padding-right: 10px;
}
.panel-main
{
    margin:5px;
    width:100%;
    display: block;
    padding: 24px 18px 50px 18px;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgb(210, 210, 210) 1px 0px 0px 0px, rgb(210, 210, 210) -1px 0px 0px 0px, rgb(182, 182, 182) 0px 1px 0px 0px, rgb(210, 210, 210) 0px 2px 0px 0px, rgb(230, 230, 230) 2px 3px 0px 0px, rgb(230, 230, 230) -2px 3px 0px 0px, rgb(230, 230, 230) 0px 3px 0px 0px, rgb(230, 230, 230) 2px 3px 0px 0px;
    background: white;
    border-radius: 4px;
    position: relative;
}
.relative
{
    position:relative;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgb(210, 210, 210) 1px 0px 0px 0px, rgb(210, 210, 210) -1px 0px 0px 0px, rgb(182, 182, 182) 0px 1px 0px 0px, rgb(210, 210, 210) 0px 2px 0px 0px, rgb(230, 230, 230) 2px 0px 0px 0px, rgb(230, 230, 230) -2px 0px 0px 0px, rgb(230, 230, 230) 0px 3px 0px 0px, rgb(230, 230, 230) 0px -1px 0px 0px;
}
.black
{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color:#000;
}
.panel-main .header-main
{
    margin-left:19px;
    margin-bottom: -13px;
}
.header-main-area
{
    display:inline-block;
    background:white;
    margin-bottom:0px;
}
.line-mid{
    height :1px;
    margin:5px 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}
.box-line
{
    border: 1px solid rgb(214, 214, 214);
    padding: 40px 5px 0px 20px;
    border-radius: 2px;
}
.box-points
{

}
.box-points .item
{
    vertical-align:middle;
    display:inline-block;
    margin-bottom:20px;
    width:100%;
}
.item .item-move
{
    display:inline-block;
    vertical-align:middle;
    line-height: 1em;
}
.box-add .item-add-point
{
    font-size:0.8em;
}
.item-error
{
    border-color: red !important;
}
.item-move .item-move-up,.item-move-down
{
    display:inline;
    vertical-align:middle;
    font-size:0.7em;
}
.item .item-point
{
    width:100%;
}
.item .xdsoft_autocomplete
{
    width:55% !important;
}
.item .item-porch,.item-num
{
    width:18%;
}
.item-point,.item-num,.item-porch,.item-comment
{
    display:inline;
    vertical-align:middle;
    box-shadow: rgb(170, 170, 170) 0px 1px 4px inset;
    border: 1px solid rgb(214, 214, 214);
    padding: 5px;
    border-radius: 2px;
}
.box-comment
{
    margin:17px 0px;
}
.item-comment
{
    width:93%;
}
.item-comment-pack
{
    display:inline-block;
    width:11px;
    height:10px;
}
.item .item-remove
{
    display:inline;
    vertical-align:middle;
}
.item .item-hidden
{
    display:none;
}
.box-price
{
    margin:40px 0px 20px 0px;
    display:block;
    vertical-align:middle;
}
.item-price
{
    position:relative;
    border: 1px solid rgb(214, 214, 214);
    padding: 20px 5px 10px 20px;
    border-radius: 2px;
    display:inline-block;
    vertical-align:middle;
    overflow:visible;
    width:93%;
}
.item-price-text
{
    color:rgb(170, 170, 170);
    position:absolute;
    top:-10px;
    left:10px;
    background:white;
    font-style:oblique;
    display:inline-block;
    vertical-align:middle;
}
.item-total
{
    float:left;
    position:relative;
    display:inline-block;
    color: rgb(122, 122, 122);
    font-weight: bold;
    font-size: 18px;
}
.item-loader
{
    position:absolute;
    z-index:2;
}
.item-loader-hidden
{
    display:none;
}
.item-loader-img
{
    width: 37px;
}
.item-total-blue
{
    color: rgb(82, 155, 212);
}
.item-price-type
{
    font-weight:normal;
    font-size:15px;
}
.item-price-cost,.item-price-type
{    
    display:inline;
    float:left;
}
.item-price-button
{
    padding-right:5px;
    margin-top: -10px;
    text-align:right;
    right:0px;
}
.box-submit
{
    margin: 20px 5px -15px 0px;
    text-align:right;
}
.submit-area
{
    background-color:white;
    display:inline-block;
}
button.price-button:focus,.submit-button:focus {
    color: #b5b5b5;
    background: linear-gradient(#fff,lightgray);
}
button.price-button,.submit-button{
    cursor: pointer;
    color:rgb(23, 172, 36);
    background: linear-gradient(#fff,#ebebeb);
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset;
}
button.dw-button, .reg-button{
    cursor: pointer;
    color: rgb(82, 155, 212);
    background: linear-gradient(#fff,#ebebeb);
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset;
    
}
button.price-button {
    color: rgb(82, 155, 212);
}
button.city{
    cursor: pointer;
    color: #b5b5b5;
    background: linear-gradient(#fff,#ebebeb);
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset;
}
button.city:hover {
    color: #000;
    background: linear-gradient(#fff,lightgray);
}
button.city:hover {
    color: #000;
    background: linear-gradient(#fff,lightgray);
}
.dw-hide{
    display:none;
}
.dw-show, .reg-form {
    min-width:315px;
    min-height:480px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    background:none;
    text-align:center;
    vertical-align:middle;
}
.dw-show-opacity{
    position: fixed;
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: black;
}
.dw-show-message, .reg-window
{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background: white;
    margin-top: -100px;
    margin-left: -200px;
    padding: 20px;
    display: inline-block;
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.reg-form-hide
{
    display:none;
}
.reg-message {
    text-align: center;
    margin: 20px 0px 0px 0px;
}
a.menu-link {
    display:inline;
    color:white;
}
a.menu-link:hover {
    text-decoration:none;
    color: #b5b5b5;
}
.reg-form-opacity
{
    position: fixed;
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: gray;
}
div.dw-button, .reg-window-button
{
    background-color:white;
    position:absolute;
    right:30px;
    bottom:5px;
}
.reg-window-tel::before
{
    content:"+7";
}.reg-window-tel
{
    margin: 20px 0px 0px 0px;
    text-align: center;
}
#reg-window-tel
{
    border:none;
    width: 105px;
}
#reg-window-tel:focus
{
    border:none;
    outline:none !important;
}
.message-text
{
    margin:0px;
}
.message-line-header, .reg-window-line-header
{
    color:rgb(191, 191, 191);
    position:absolute;
    background-color:white;
    margin:-10px 0px 0px 15px;
}
.message-line, .reg-window-line
{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
}
/*#city
{
    background-image:url(/Images/world.jpg);
    background-size:16px 16px;
    padding-left: 16px;
    background-repeat:no-repeat;
    background-position-x:left;
    background-position-y:center;
}*/
@media (max-width: 768px) {
    body
    {
        background-image: none;
        background-color: rgb(10,84,171);
    }
    .menu-item
    {
        padding-left: 8px;
    }
    .menu-xs-container {
        overflow:hidden;
        z-index: 3;
        position: absolute;
        margin: 0px;
        padding: 0px !important;
        width: 100%;
    }
    .height-100
    {
        height:100% !important;
    }
    .left-0
    {
        left:0px !important;
    }
    .dw-show-message, .reg-window
    {
        width: 300px;
        height: 200px;
        margin-top: -100px;
        margin-left: -150px;
        border-radius: 5px;
        background: white;
        padding: 20px;
        display: inline-block;
        z-index: 11;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .menu-xs-slider {
        left: -768px;
        text-align: left;
        width: 100%;
        display: block !important;
        border-right: none;
        border-bottom: 1px solid;
        float: left;
        padding: 6px 0px;
        margin:0px;
    }
    .glyphicon-button {
        margin-left: 0px;
    }
    .fallDownMenu
    {
        margin-left: 0;
        left: -16px;
    }
    .panel-main
    {
        padding:0px 5px 20px 5px;
    }
    .header-main-area
    {
        margin-top:5px;
    }
    .box-line
    {
        padding:20px 5px 0px 10px;
    }
    .item .item-point {
        width: 100%;
    }
    .item .xdsoft_autocomplete
    {
        width: 86% !important;
    }
    .item .item-move
    {
        -moz-margin-end: 5px;
        line-height:2.3em;
        float:left;
    }
    .item .item-remove
    {
        text-align:center;
    }
    .item .item-porch,.item-num,.item-point,.xdsoft_autocomplete
    {
        float:left;
    }
    .item .item-porch,.item-num
    {
        width:43%;
    }
    .box-comment {
        margin: 10px 0px 10px 0px;
    }
    .item-comment
    {
        width:86%;
    }
    .box-points .item {
        margin-bottom: 15px;
        width: 100%;
    }
    .box-price {
        margin: 30px 18px 20px 18px;
    }
    .item-remove-style {
        line-height: 4.5em;
        width: 24px;
    }
    .box-price
    {
        margin: 30px 0px 20px 0px;
    }
    .item-price
    {
        padding:20px 0px 10px 10px;
        width:100%;
    }
    .item-total {
        margin-top: -5px;
    }
    .item-price-cost
    {
        font-weight:normal;
        font-size:17px;
    }
}












