@{
    ViewBag.Title = "Просто заказать такси";
}
<div class="dw-hide" id="dialogWindow">
    <div class="dw-show-opacity"></div>
    <div class="dw-show-message">
        <div class="message-line-header">&nbsp;сообщение об ошибке&nbsp;</div>
        <div class="message-line">
            <div class="message-text">К сожалению нам не удалось определить ваш город, пожалуйста выберите его из списка</div>
        </div>
        <div class="dw-button">&nbsp;<button class="btn dw-button" id="ok">Продолжить</button>&nbsp;</div>
    </div>
</div>
<div class="reg-form-hide">
    <div class="reg-form-opacity"></div>
    <div class="reg-window">
        <div class="reg-window-line-header">&nbsp;Окно регистрации&nbsp;</div>
        <div class="reg-window-line-exit" id="reg-exit">&nbsp;X&nbsp;</div>
        <div class="reg-window-line">
            <div class="reg-window-message">
                <div class="reg-message">Введите номер телефона</div>
                <div class="reg-window-tel">
                    <div class="reg-window-tel-befor">
                        <input type="tel" required pattern="[0-9_-]{10}" placeholder="(___) ___ __ __" id="reg-window-tel" title="Формат: (096) 999 99 99" />
                    </div>
                </div>                
            </div>
        </div>
        <div class="reg-window-button">&nbsp;<button class="btn reg-button">Отправить</button>&nbsp;</div>
    </div>
</div>
<div class="row relative">
    <div class="black"></div>
    <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <div class="col-xs-1 menu-item visible-xs"><i class="glyphicon-animate glyphicon glyphicon-menu-hamburger"></i></div>
        <div class="col-sm-2 col-xs-5 menu-item menu-item-line">
            <div class="dropdown">
                <span class="dropdown-toggle glyphicon-button" data-toggle="dropdown" id="city"> Ваш город</span>
                <ul class="dropdown-menu fallDownMenu">
                    <li class="look-up"></li>
                    <li><a class="city" city="78" href="#">Санкт-Петербург</a></li>
                    <li><a class="city" city="61" href="#">Ростов-на-Дону</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2 menu-item menu-item-line hidden-xs"><a class="menu-link" href="#">Online заказ</a></div>
        <div class="col-sm-2 menu-item menu-item-line hidden-xs"><a class="menu-link" href="#">Ваш заказ</a></div>
        <div class="col-sm-2 menu-item menu-item-line hidden-xs"><a class="menu-link" href="#">История</a></div>
        <div class="col-sm-2 menu-item menu-item-line hidden-xs"><a class="menu-link" href="#">Контакты</a></div>
        <div class="col-sm-2 col-xs-6 menu-item"><a class="menu-link" href="#" id="auth">Авторизация</a></div>
    </div>
    <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
</div>
<div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
<div class="col-lg-6 col-md-8 col-sm-10 panel-parent">
    <div class="panel-main">
        <div class="header-main">
            <h3 class="header-main-area">&nbsp;Форма заказа&nbsp;</h3>
        </div>
        <div class="box-line">
            <div class="box">
                <div class="box-points">
                    <div class="item">
                        <div class="item-move">
                            <a class="item-move-down" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <br />
                            <a class="item-move-up" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                        <input class="item-point item-tabindex" type="text" autocomplete="off" placeholder="Пункт отправления" tabindex="1" />
                        <input class="item-num item-tabindex" type="text" autocomplete="off" placeholder="№ дома" tabindex="2" />
                        <input class="item-porch item-tabindex" type="text" autocomplete="off" placeholder="№ подъезда" tabindex="3" />
                        <a class="item-remove item-hidden" href="#"><i class="glyphicon glyphicon-minus-sign item-remove-style"></i></a>
                    </div>
                    <div class="item">
                        <div class="item-move">
                            <a class="item-move-down" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <br />
                            <a class="item-move-up" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                        <input class="item-point item-tabindex" type="text" autocomplete="off" placeholder="Пункт прибытия" tabindex="4" />
                        <input class="item-num item-tabindex" type="text" autocomplete="off" placeholder="№ дома" tabindex="5" />
                        <input class="item-porch item-tabindex" type="text" autocomplete="off" placeholder="№ подъезда" tabindex="6" />
                        <a class="item-remove item-hidden" href="#"><i class="glyphicon glyphicon-minus-sign item-remove-style"></i></a>
                    </div>
                </div>
                <div class="box-add">
                    <a class="item-add-point" href="#"><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
                <div class="box-comment">
                    <div class="item-comment-pack"></div>
                    <input class="item-comment item-tabindex" type="text" autocomplete="off" placeholder="Введите комментарий к заказу" tabindex="7" />
                </div>
                <div class="box-price">
                    <div class="item-comment-pack hidden-xs"></div>
                    <div class="item-price">
                        <div class="item-price-text">&nbsp;Итого цена:&nbsp;</div>
                        <div class="item-total">
                            <div class="item-loader item-loader-hidden"><img src="~/Images/loading.gif" class="item-loader-img" /></div>
                            <div class="item-price-cost" id="cost">XXX</div>
                            <div class="item-price-type">&nbsp;руб.</div>
                        </div>
                        <div class="item-price-button"><button class="btn price-button item-tabindex" id="rout" tabindex="8"><i class="glyphicon glyphicon-rub"></i> Рассчитать стоимость</button></div>
                    </div>
                </div>
                <div class="box-submit">
                    <div class="submit-area">
                        &nbsp;<button class="btn submit-button item-tabindex" id="order" tabindex="9"><i class="glyphicon glyphicon-envelope"></i> Заказать</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
</div>
<div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
